beautifulsoup4==4.12.2
bprofile==1.3.4
cairocffi==1.6.1
CairoSVG==2.7.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
chess==1.10.0
click==8.1.7
click-log==0.4.0
contourpy==1.1.1
cssselect2==0.7.0
cycler==0.11.0
decorator==5.1.1
defusedxml==0.7.1
font-fredoka-one==0.0.4
font-hanken-grotesk==0.0.2
font-intuitive==0.0.4
font-source-serif-pro==0.0.1
fonttools==4.42.1
future==0.18.3
geocoder==1.38.1
idna==3.4
inky==1.5.0
kiwisolver==1.4.5
matplotlib==3.8.0
numpy==1.26.0
packaging==23.1
pandas==2.1.0
Pillow==10.0.1
py-cpuinfo==9.0.0
pycparser==2.21
pyparsing==3.1.1
pypng==0.20220715.0
python-dateutil==2.8.2
pytz==2023.3.post1
qrcode==7.4.2
ratelim==0.1.6
requests==2.31.0
RPi.GPIO==0.7.1
seaborn==0.12.2
six==1.16.0
smbus2==0.4.3
soupsieve==2.5
spidev==3.6
tinycss2==1.2.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.5
webencodings==0.5.1
zstandard==0.21.0
